.promo {
  width: available;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #F5F5F5;
  position: relative;
}

.promo__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  position: absolute;

}

@media screen and (max-width: 425px) {
  .promo {
    margin-left: 14px;
    margin-right: 14px;
    height: 586px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .promo {
    margin-left: 20px;
    margin-right: 20px;
    height: 834px;
  }
}

@media screen and (min-width: 768px) {
  .promo {
    margin-left: 40px;
    margin-right: 40px;
    height: 493px;
  }
}
