.preloader__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.preloader__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.preloader__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.preloader__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.preloader__checkbox:checked + .preloader__slider {
  background-color: #2BE080;
}

.preloader__checkbox:focus + .preloader__slider {
  box-shadow: 0 0 1px #2BE080;
}

.preloader__checkbox:checked + .preloader__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.preloader__slider_shape_round {
  border-radius: 20px;
}

.preloader__slider_shape_round:before {
  border-radius: 50%;
}

.preloader__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  display: block;
}

.preloader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 680px) {
  .preloader {
    border-left: 1px solid #E8E8E8;;
    height: 40px;
    gap: 14px;
    padding-left: 30px;
    margin-left: 30px;
  }

  .preloader__text {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (min-width: 680px) and (max-width: 768px) {
  .preloader {
    padding-left: 19px !important;
    margin-left: 19px !important;
  }
}

@media screen and (max-width: 680px) {
  .preloader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -66px;
    gap: 13px;
  }

  .preloader__text {
    font-size: 11px;
    line-height: 18px;
  }
}
