.header {
  width: available;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 74px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  font-size: 10px;
}

.header__logo {
  width: 38px;
  height: 38px;
  align-self: center;
}

.header__side-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.header_type_single {
  padding: 0 !important;
  min-height: 0 !important;
}


@media screen and (max-width: 425px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__side-container {
    gap: 14px;
  }

  .header_type_single {
    justify-content: space-around;
    margin-top: 56px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 90px;
    padding-right: 90px;
  }

  .header__side-container {
    gap: 50px;
  }

  .header_type_single {
    margin: 70px 0 40px;
  }
}


@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__side-container {
    gap: 30px;
  }

  .header_type_single {
    margin: 232px 186px 40px 0;
  }
}
