.footer__description, .footer__features, .footer__feature, .footer__year {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: normal;
}

.footer {
  max-width: 1280px;
  width: 100%;
}

.footer__description {
  text-align: center;
  width: available;
}

.footer__description {
  color: #A0A0A0;
  position: relative;
  padding-bottom: 20px;
}

.footer__description:before {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer__container {
  display: flex;
}

.footer__features {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer {
    background: #FAFAFA;
  }

  .footer__container, .footer__description {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer__container, .footer__description {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 425px) {
  .footer {
    margin: 79px auto 20px;
  }

  .footer__description {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .footer__container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__features {
    flex-direction: row;
    gap: 20px;
  }

  .footer__feature, .footer__year {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin: 79px auto 10px;
  }

  .footer__container, .footer__description {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer__description {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 30px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__features {
    flex-direction: column;
    gap: 12px;
  }

  .footer__feature, .footer__year {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__year {
    color: #A0A0A0;
  }
}
