.nav-tab {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
}

.nav-tab__link {
  background-color: #E8E8E8;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 425px) {
  .nav-tab {
    bottom: 17px;
    gap: 6px;
  }

  .nav-tab__link {
    width: 82px;
    height: 26px;
  }
}

@media screen and (min-width: 425px){
  .nav-tab {
    bottom: 30px;
    gap: 10px;
  }

  .nav-tab__link {
    width: 96px;
    height: 36px;
  }
}
